.team {
    background-color: var(--team-background-color);

    &__list {
        display: block;

        @include tablet {
            display: flex;
            flex-wrap: wrap;
        }
        @include desktop {
            flex-wrap: nowrap;
        }
    }

    &__item {
        margin-bottom: 30px;
        width: 100%;
        box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12),
            0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
        border-radius: 0px 0px 4px 4px;

        background-color: var(--body-background-color);

        &:last-child {
            margin-bottom: 0;
        }

        @include tablet {
            margin-right: 30px;
            width: calc((100% - 30px) / 2);

            &:nth-child(2n) {
                margin-right: 0;
            }

            &:nth-last-child(-n + 2) {
                margin-bottom: 0;
            }
        }

        @include desktop {
            margin-bottom: 0;

            &:nth-child(2n) {
                margin-right: 30px;
            }

            &:last-child {
                margin-right: 0;
            }
        }
    }

    &__wrapper {
        padding-top: 30px;
        padding-bottom: 24px;

        @include desktop {
            padding-bottom: 30px;
        }
    }

    &__title {
        font-weight: 500;
        font-size: 16px;
        line-height: 1.2;
        text-align: center;
        letter-spacing: 0.03em;
        color: var(--primary-title-color);
        margin-top: 0;
        margin-bottom: 10px;
    }

    &__text {
        font-size: 16px;
        line-height: 1.2;
        text-align: center;
        letter-spacing: 0.03em;
        margin-top: 0;
        margin-bottom: 16px;
    }
}

.social {
    display: flex;
    align-items: center;
    justify-content: center;

    &__item {
        margin-right: 10px;

        &:last-child {
            margin-right: 0px;
        }
    }

    &__link {
        display: flex;
        align-items: center;
        justify-content: center;
        width: 44px;
        height: 44px;

        border-radius: 50%;
        color: var(--social-icons-color);

        transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
            color 250ms cubic-bezier(0.4, 0, 0.2, 1);

        &:hover,
        &:focus {
            color: var(--body-background-color);
            background-color: var(--accent-color);
        }
    }

    &__icon {
        fill: currentColor;

        &:hover,
        &:focus {
            fill: currentColor;
        }
    }
}
