:root {
    --body-background-color: #fff;
    --primary-title-color: #212121;
    --primary-text-color: #757575;
    --logo-text-color: #000;
    --accent-color: #2196f3;
    --button-hover-color: #188ce8;
    --team-background-color: #f5f4fa;
    --social-icons-color: #afb1b8;
    --footer-contact-color: rgba(255, 255, 255, 0.6);
    --footer-social-color: rgba(255, 255, 255, 0.1);
    --footer-background-color: #2f303a;
}
